body {
	margin: 0;
	padding: 0;
	background: #000;
}

#gameframe {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	text-align: center;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	background: black;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#loadingLogo {
	z-index: 11;
	width: 284px;
	height: 212px;
}
